.header {
    background-color: #FBFBFB;
    padding: 0.5rem 2rem; 
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navLink {
    color: #050505;
    text-decoration: none;
}

.logo {
    height: 40px;
    padding: 0;
}