/* For the top display */

.kanjiTitle {
    color: #050505;
    font-size: 3rem;
    margin: 0;
}

.resultCard {
    padding: 2rem;
}

.topDisplayText {
    color: #050505;
}

.gridContainer{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

.kanjiInfo {
    line-height: 0.5;
    font-style: italic;
}

/* For the middle display */

.onkunBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 50px;
    background-image: linear-gradient(98deg, #050505 49.9%, #B0000F 50%);
    color: #F9F9F9;
    padding: 0.5rem;
    font-weight: 600;
}

.onYomiArea {
    margin-left: 1rem;
}

.kunYomiArea {
    margin-left: 1rem;
}

.onkunBoxData {
    display: inline;
}