.resultList {
    list-style: none;
    padding-left: 0;
}

/* For the top display */

.kanjiTitle {
    color: #050505;
    font-size: 3rem;
    margin: 0 0 0 1rem;
}

.resultCard {
    padding: 1rem 10vw;
}

.topDisplayText {
    color: #050505;
}

.flexContainer{
    display: flex;
}

.kanjiInfo {
    line-height: 0.5;
    font-style: italic;
    margin: 0 0 0 1rem;
}

/* For the middle display */

.onkunBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 50px;
    background-image: linear-gradient(95deg, #050505 49.9%, #B0000F 50%);
    color: #F9F9F9;
    padding: 0.5rem;
    font-weight: 600;
}

.onYomiArea {
    margin-left: 1rem;
    padding: 0.5rem;
}

.kunYomiArea {
    margin-left: 1rem;
    padding: 0.5rem;
}

.onkunBoxData {
    display: inline;
}

/* For the bottom display */

.translationArea {
    margin-left: 1rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-style: italic;
}